@use "../utils/variables";
@use "../utils/placeholders";

footer {
    background-color: variables.$blacklight;
    height: 200px;
    padding-top: 25px;
    padding-left: 25px;

    & h4 {
        font-family: variables.$police-title;
        color: variables.$whitesmoke;
        margin: 0;
        font-size: 20px;
        @extend %font-weight;
        margin-bottom: 20px;
    }

    & ul {
        padding-left: 0;
        position: relative;

        & li {
            color: variables.$graylightweight;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 7px;
        }
        & li a {
            color: variables.$graylightweight;
        }

        & .footer__span-ustensil {
            padding-left: 24px;
            color: variables.$graylightweight;
        }

        & .fa-utensils {
            font-size: 14px;
            position: absolute;
            top: 3%;
        }

        & .footer__span-help {
            color: variables.$graylightweight;
        }

        & .fa-hands-helping {
            font-size: 12px;
            padding-right: 5px;
            transform: rotate(-10deg);
        }
    }
}
