@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

footer {
    background-color: variables.$blacklight;
    height: 200px;
    padding-top: 25px;
    padding-left: 25px;

    & h4 {
        font-family: variables.$police-title;
        color: variables.$whitesmoke;
        margin: 0;
        font-size: 20px;
        @extend %font-weight;
        margin-bottom: 20px;

        @include mixins.tablet {
            font-size: 23px;
        }

        @include mixins.desktop {
            font-size: 24px;
        }
    }

    & ul {
        padding-left: 0;
        position: relative;

        @include mixins.desktop {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }

        & li {
            color: variables.$graylightweight;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 7px;

            @include mixins.desktop {
                font-size: 17px;
            }
        }
        & li a {
            color: variables.$graylightweight;
        }

        & .footer__span-ustensil {
            padding-left: 24px;
            color: variables.$graylightweight;
        }

        & .fa-utensils {
            font-size: 14px;
            @include mixins.position-absolute(3%, auto, auto, auto);

            @include mixins.tablet {
                font-size: 17px;
            }

            @include mixins.desktop {
                font-size: 19px;
            }
        }

        & .footer__span-help {
            color: variables.$graylightweight;
        }

        & .fa-hands-helping {
            font-size: 12px;
            padding-right: 5px;
            transform: rotate(-10deg);

            @include mixins.tablet {
                font-size: 17px;
            }

            @include mixins.desktop {
                font-size: 20px;
            }
        }
    }
}
