@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.functioning {
    & h2 {
        margin: auto auto 15px 20px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 280px;
        padding-left: 30px;
        margin-bottom: 60px;

        @include mixins.tablet {
            padding: 0 100px;
        }

        @include mixins.desktop {
            flex-direction: row;
            align-items: center;
            height: 150px;
            padding: 0 20px;
        }

        & li {
            @extend %flex-center;
            @include mixins.shadow(0, 5px, 5px, #d3d3d3);
            background-color: variables.$whitesmoke;
            border-radius: 17px;
            height: 70px;
            width: 95%;
            text-align: center;
            cursor: pointer;
            position: relative;

            &:active,
            &:hover {
                background-color: (
                    lighten($color: variables.$color-primary, $amount: 35%)
                );
            }

            @include mixins.tablet {
                padding: 0 100px;
            }

            @include mixins.desktop {
                flex-direction: row;
                height: 80px;
                width: 30%;
            }
        }
    }

    &__number {
        height: 25px;
        width: 25px;
        background-color: variables.$color-primary;
        color: variables.$white;
        border-radius: 50%;
        padding-top: 5px;
        font-size: 15px;
        @include mixins.position-absolute(auto, auto, auto, -13px);
    }

    .functioning__number + .fa-mobile-alt {
        font-size: 21px;
    }

    & i {
        color: #818181;
        @include mixins.position-absolute(auto, auto, auto, 36px);

        @include mixins.desktop {
            font-size: 20px;
        }

        &:active,
        &:hover {
            color: variables.$color-primary;
        }
    }

    &__text {
        font-weight: 500;

        @include mixins.tablet {
            font-size: 18px;
        }

        @include mixins.desktop {
            font-size: 20px;
        }
    }
}
