@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.functioning {
    & h2 {
        margin: auto auto 15px 20px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 280px;
        padding-left: 30px;
        margin-bottom: 60px;

        & li {
            @extend %flex-center;
            @extend %shadow;
            background-color: #f5f5f5;
            border-radius: 17px;
            height: 70px;
            width: 95%;
            text-align: center;
            position: relative;
        }
    }

    &__number {
        height: 25px;
        width: 25px;
        background-color: variables.$color-primary;
        color: variables.$white;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        padding-top: 5px;
        font-size: 15px;
    }

    & i {
        color: #818181;
        position: absolute;
        left: 40px;
    }

    &__text {
        font-weight: 500;
    }
}
