@use "../utils/mixins";
@use "../utils/placeholders";
@use "../utils/variables";

// HEADER

.header {
    @include mixins.shadow(0, 3px, 5px, variables.$lightgray);
    position: relative;
    z-index: 1;

    & h1 {
        text-align: center;
        padding: 20px 0 5px 0;
        margin: 0;
        & img {
            width: 45%;

            @include mixins.tablet {
                width: 30%;
            }

            @include mixins.desktop {
                width: 20%;
            }
        }
    }
}
// ANIMATION LOADING

.loading {
    background-color: variables.$white;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 999;
    @extend %flex-center;
    animation: ghost 2.5s forwards;

    &__spinner {
        @include mixins.border-spinner(
            auto,
            200px,
            200px,
            variables.$color-primary
        );
        animation: spin 2s linear infinite forwards;

        &::before {
            content: "";
            @include mixins.border-spinner(
                30.3px,
                120px,
                120px,
                variables.$color-secondary
            );
            animation: spin 2.5s linear infinite forwards;
        }

        &::after {
            content: "";
            @include mixins.border-spinner(
                65px,
                50px,
                50px,
                variables.$color-tertiary
            );
            animation: spin 2s linear infinite forwards;
        }
    }
}

@keyframes ghost {
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        z-index: -1;
    }
}
