.localisation {
    &__search {
        background-color: #e7e7e7;
        height: 50px;
        font-weight: 500;
        color: #3f3f3f;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
            position: absolute;
            left: 100px;
        }
    }

    &__reserve {
        background-color: #f3f3f3;
        height: 250px;
        text-align: center;

        & h2 {
            padding-top: 40px;
        }

        & p {
            font-size: 18px;
            font-weight: 300;
            color: #3a3a3a;
            margin-bottom: 30px;
        }

        & button {
            border-radius: 50px;
            height: 20%;
            width: 57%;
            border: none;
            box-shadow: 0px 3px 5px lightgray;
            background: linear-gradient(to bottom right, blue, white);
        }

        & span {
            color: white;
            font-size: 13px;
            font-weight: 600;
        }
    }
}
