@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.localisation {
    margin-bottom: 50px;
    position: relative;

    &__search {
        @extend %flex-center;
        background-color: #e7e7e7;
        height: 50px;
        font-weight: 500;
        color: variables.$blacklight;

        & i {
            padding-right: 10px;
            font-size: 17px;
        }
    }

    &__reserve {
        background-color: variables.$whitesmokelight;
        height: 290px;
        text-align: center;

        & h2 {
            padding-top: 40px;
            margin-bottom: 10px;
        }

        & p {
            font-size: 18px;
            font-weight: 300;
            color: #585858;
            margin-bottom: 30px;
        }

        & span {
            color: variables.$white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
