@use "../utils/variables";

.localisation {
    &__search {
        background-color: #e7e7e7;
        height: 50px;
        font-weight: 500;
        color: #3f3f3f;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
            position: absolute;
            left: 100px;
        }
    }

    &__reserve {
        background-color: #f3f3f3;
        height: 290px;
        text-align: center;

        & h2 {
            padding-top: 40px;
        }

        & p {
            font-size: 18px;
            font-weight: 300;
            color: #585858;
            margin-bottom: 30px;
        }

        & button {
            height: 50px;
            width: 215px;
            border-radius: 50px;
            border: none;
            box-shadow: 0px 5px 5px lightgray;
            background: linear-gradient(
                to bottom right,
                variables.$color-secondary,
                variables.$color-primary
            );
        }

        & span {
            color: white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
