@use "../utils/placeholders";

.restaurants {
    background-color: #e7e7e7;
    height: 1300px;

    & h2 {
        padding: 50px 0 20px 20px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 1080px;

    &__article {
        @extend %box-shadow;
        background-color: white;
        height: 255px;
        width: 90%;
        border-radius: 20px;
        position: relative;
    }

    &__image {
        border-radius: 20px 20px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        padding-top: 10px;
        padding-left: 15px;
    }

    &__text {
        margin: 0;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 300;
    }

    & i {
        position: absolute;
        right: 25px;
        bottom: 27px;
        font-size: 25px;
    }

    & span {
        @extend %flex-center;
        background-color: #89f0c8;
        color: #268d4e;
        font-size: 15px;
        font-weight: 500;
        height: 29px;
        width: 85px;
        border-radius: 2px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
