@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.button {
    height: 50px;
    width: 215px;
    border-radius: 50px;
    border: none;
    color: variables.$white;
    cursor: pointer;
    @include mixins.shadow(0, 5px, 5px, #d3d3d3);
    @include mixins.background-gradient(1);

    &:hover,
    &:active {
        @include mixins.background-gradient(0.8);
        @include mixins.shadow(0, 5px, 5px, #aaaaaa);
    }
}
