@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.button {
    height: 50px;
    width: 215px;
    border-radius: 50px;
    border: none;
    color: variables.$white;
    opacity: 1;
    cursor: pointer;
    @extend %shadow;
    @include mixins.gradient;
}
