@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1080px;
    margin-bottom: 30px;

    &__article {
        background-color: variables.$white;
        height: 255px;
        width: 90%;
        border-radius: 20px;
        position: relative;
        @include mixins.shadow(0, 5px, 5px, #d3d3d3);
    }

    &__image {
        border-radius: 20px 20px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        padding-top: 10px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 700;
    }

    &__text {
        margin: 0;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 17px;
        font-weight: 300;
    }

    & .far {
        font-size: 25px;
        @include mixins.position-absolute(auto, 12%, 10%, auto);
    }

    & .fas {
        @include mixins.position-absolute(auto, 11.6%, 9.7%, auto);
        @include mixins.color-gradient(0);

        &:hover {
            @include mixins.color-gradient(1);
            font-size: 27px;
        }
    }

    & span {
        @extend %flex-center;
        background-color: variables.$color-tertiary;
        color: darken(variables.$color-tertiary, $amount: 50%);
        font-size: 15px;
        font-weight: 500;
        height: 29px;
        width: 85px;
        border-radius: 2px;
        position: absolute;
        right: 5%;
        top: 5%;
    }
}
