@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1080px;
    margin-bottom: 30px;

    @include mixins.desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 600px;
    }

    &__article {
        background-color: variables.$white;
        height: 255px;
        width: 90%;
        border-radius: 20px;
        position: relative;
        transition: transform 300ms;

        &:hover {
            transform: scale(0.9);
        }

        @include mixins.desktop {
            width: 45%;
        }
    }

    &__image {
        border-radius: 20px 20px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        padding-top: 10px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 700;
    }

    &__text {
        margin: 0;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 17px;
        font-weight: 300;
    }

    & .far {
        @include mixins.position-absolute(auto, 12%, 10%, auto);
    }

    & span {
        @extend %flex-center;
        background-color: variables.$color-tertiary;
        color: darken(variables.$color-tertiary, $amount: 37%);
        font-size: 15px;
        font-weight: 500;
        height: 29px;
        width: 85px;
        border-radius: 2px;
        @include mixins.position-absolute(5%, 5%, auto, auto);
    }
}
