@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/mixins";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 1080px;

    &__article {
        @extend %shadow;
        background-color: variables.$white;
        height: 255px;
        width: 90%;
        border-radius: 20px;
        position: relative;
    }

    &__image {
        border-radius: 20px 20px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        padding-top: 10px;
        padding-left: 15px;
        font-weight: 700;
    }

    &__text {
        margin: 0;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 300;
    }

    & .fa-heart {
        position: absolute;
        right: 25px;
        bottom: 27px;
        font-size: 25px;
    }

    & span {
        @extend %flex-center;
        background-color: variables.$color-tertiary;
        color: darken(variables.$color-tertiary, $amount: 50%);
        font-size: 15px;
        font-weight: 500;
        height: 29px;
        width: 85px;
        border-radius: 2px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
