@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/placeholders";
@use "../components/arrow-left";
@use "../components/button";

.menu__header--shadow {
    box-shadow: none;
}

.menu__image {
    width: 100%;
    object-fit: cover;

    @include mixins.tablet {
        height: 350px;
    }

    @include mixins.desktop {
        height: 500px;
    }
}

.menu__imagenote {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include mixins.tablet {
        height: 350px;
    }

    @include mixins.desktop {
        height: 500px;
    }
}

.menu {
    @include mixins.menu(1160px, 35px 15px);

    @include mixins.tablet {
        @include mixins.menu(1160px, 40px 100px);
    }

    @include mixins.desktop {
        @include mixins.menu(1160px, 40px 300px);
    }

    &__title {
        margin-bottom: 40px;
        & h2 {
            font-family: variables.$police-title;
            font-size: 28px;
            padding-left: 5px;
            @extend %font-weight;
        }
        & .far {
            @include mixins.position-absolute(39px, 38px, auto, auto);

            @include mixins.tablet {
                @include mixins.position-absolute(44px, 128px, auto, auto);
            }

            @include mixins.desktop {
                @include mixins.position-absolute(39px, 358px, auto, auto);
            }
        }
    }

    .menucard {
        & h3 {
            font-size: 16px;
            font-weight: 300;
            position: relative;
            padding-left: 5px;
            margin: 40px 0 20px 0;
        }
        & h3::before {
            content: "";
            width: 40px;
            height: 3px;
            @include mixins.position-absolute(auto, auto, -45%, auto);
            background-color: variables.$color-tertiary;
        }
        &__div--light {
            background-color: variables.$white;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 15px;
            position: relative;
            @include mixins.shadow(0, 5px, 5px, #d3d3d3);
        }
        &__title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 15px;
            font-weight: 300;
        }
        &__price {
            font-size: 15px;
            font-weight: 700;
            @include mixins.position-absolute(auto, 6%, 15%, auto);
        }
    }
    .div__button--center {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .button {
            width: 185px;
            color: variables.$white;
            font-weight: 500;
        }
    }
}

.menu__note {
    @include mixins.menu(1220px, 35px 15px);

    @include mixins.tablet {
        @include mixins.menu(1220px, 40px 100px);
    }

    @include mixins.desktop {
        @include mixins.menu(1220px, 40px 300px);
    }
}
