@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/placeholders";
@use "../components/arrow-left";
@use "../components/button";

.menu__header--shadow {
    box-shadow: none;
}

.menu__image {
    width: 100%;
    object-fit: cover;

    @include mixins.tablet {
        height: 350px;
    }

    @include mixins.desktop {
        height: 400px;
    }
}

.menu {
    @include mixins.menu(1220px, 35px 15px);

    @include mixins.tablet {
        @include mixins.menu(1200px, 35px 80px);
    }

    @include mixins.desktop {
        @include mixins.menu(700px, 35px 15px);
    }

    &__title {
        margin-bottom: 40px;
        & h2 {
            font-family: variables.$police-title;
            font-size: 28px;
            padding-left: 5px;
            @extend %font-weight;
        }
        & .far {
            @include mixins.position-absolute(40px, 38px, auto, auto);
        }

        @include mixins.desktop {
            display: flex;
            justify-content: center;
        }
    }

    .menucard__all--flex {
        @include mixins.desktop {
            display: flex;
            justify-content: space-around;
        }
    }

    .menucard {
        @include mixins.desktop {
            width: 30%;
        }
        & h3 {
            font-size: 16px;
            font-weight: 300;
            position: relative;
            padding-left: 5px;
            margin: 40px 0 20px 0;
        }
        & h3::before {
            content: "";
            width: 40px;
            height: 3px;
            @include mixins.position-absolute(auto, auto, -45%, auto);
            background-color: variables.$color-tertiary;
        }
        &__article {
            background-color: variables.$white;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 15px;
            position: relative;
            @include mixins.shadow(0, 5px, 5px, #d3d3d3);
            width: 100%;
            transition-property: width;
            transition-duration: 500ms;

            &:hover {
                width: 50%;
            }
        }
        &__title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 15px;
            font-weight: 300;
        }
        &__price {
            font-size: 15px;
            font-weight: 700;
            @include mixins.position-absolute(auto, 6%, 15%, auto);
        }
    }
    .div__button--center {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .button {
            width: 185px;
            color: variables.$white;
            font-weight: 500;
        }
    }
}

.appear1 {
    animation: appear 800ms ease-in-out 300ms forwards;
    @extend %opacity-0;
}
.appear2 {
    animation: appear 800ms ease-in-out 500ms forwards;
    @extend %opacity-0;
}
.appear3 {
    animation: appear 800ms ease-in-out 700ms forwards;
    @extend %opacity-0;
}
.appear4 {
    animation: appear 800ms ease-in-out 900ms forwards;
    @extend %opacity-0;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// MENU : LA NOTE ENCHANTEE

.menu__imagenote {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include mixins.tablet {
        height: 300px;
    }

    @include mixins.desktop {
        height: 350px;
    }
}
