@use "../utils/variables";

@mixin heart($position, $top, $right, $bottom, $left, $font-size) {
    position: absolute;
    top: auto;
    right: 25px;
    bottom: 27px;
    left: auto;
    font-size: 25px;
}

@mixin gradient($opacity: 0.9) {
    background: linear-gradient(
        to bottom right,
        variables.$color-secondary,
        variables.$color-primary
    );
}
